<footer>
  <div class="copyright">Copyright Apress - Majid Hajian</div>
</footer>
<div class="addNote">
  <button mat-fab routerLink="/notes/add">
    <mat-icon>add circle</mat-icon>
  </button>
</div>
